span{
    background-color: yellow;
    font-weight: bold;
}

ul li {
    color: brown;
    letter-spacing: 5px;
}
p{
    color: blue;
    font-style: normal;
}
a{
    background-color: yellow;

}
